# Compiled class file
*.class

# Log files
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/dictionaries/
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
# Eclipse files
.classpath
.project
.settings/

# Maven-specific files
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.pid

# Gradle-specific files
build/
.gradle/

# OS-specific files
.DS_Store
Thumbs.db

# Maven wrapper
.mvn/wrapper/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
